@model PokerHand.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Charles Peet's Poker Hand Game</h1>
</div>

@using (Html.BeginForm(MVC.Home.Index(), FormMethod.Post))
{
    <div class="row form-group">
        <div class="col-md-3">
            @Html.LabelFor(x => x.UserName1)
            @Html.TextBoxFor(x => x.UserName1, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.UserName1)
        </div>
        <div class="col-md-3">
            @Html.LabelFor(x => x.UserName2)
            @Html.TextBoxFor(x => x.UserName2, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.UserName2)
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
}