@model PokerHand.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Charles Peet's Poker Hand Game</h1>
</div>

@using (Html.BeginForm(MVC.Home.Index(), FormMethod.Post, new { id = "indexForm" }))
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.PlayerName1)
                @Html.TextBoxFor(x => x.PlayerName1, new { @class = "form-control" })
                <div class="marg-top">
                    <div class="alert alert-danger index-valid hidden">
                        @Html.ValidationMessageFor(model => model.PlayerName1)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.PlayerName2)
                @Html.TextBoxFor(x => x.PlayerName2, new { @class = "form-control" })
                <div class="marg-top">
                    <div class="alert alert-danger index-valid hidden">
                        @Html.ValidationMessageFor(model => model.PlayerName2)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <input id="indexSubmit" type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/site");
}
